{% extends "layout.html" %}
{% block body %}
<div class="row">
    <div class="col-md-12">
        
        
      <table id="example" class="table table-striped" style="width:100%">
        <thead>
          <tr>
            <td>UserID</td>
            <td>Fullname</td>
            <td>Email</td>
            <td>Phone</td>
          </tr>
        </thead>
        <tbody>
          
          <tr>
   <td>{{employee.id}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.phone}}</td>
          </tr>
        </tbody>
      </table>
    </div>

{% endblock %}